# Ignorar diretório do Git
.git

# Ignorar arquivos de lock que são específicos do host
flake.lock

# Ignorar diretórios de IDEs
.idea/
.vscode/

# Ignorar repositórios dotfiles clonados em runtime

__pycache__/
**/config.kdl.backup*
**/config.kdl.dmsbackup*
**/*.bak
**/*.bak.*
**/*.bk
**/*.backup*
