" Define as teclas de liderança para os mapeamentos
let mapleader=" "
let maplocalleader="\\"

" --- Comportamento do Editor ---
set number
set relativenumber
set clipboard+=unnamedplus
set nowrap
set scrolloff=4
set sidescrolloff=8
set shiftround
set undolevels=10000
set visualbell

" --- Comportamento de Timeout ---
set timeoutlen=10000
set notimeout

set backspace=indent,eol,start
set formatoptions=jcroqlnt
set listchars=tab:>\ ,trail:-,nbsp:+
set shortmess=filnxtToOF

" --- Funcionalidades Adicionais e Plugins Embutidos ---
set which-key
set matchit
set highlightedyank
let g:highlightedyank_highlight_duration =
set mini-ai

" =============================================================================
" GERENCIADOR DE PLUGINS
" =============================================================================

Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'
Plug 'preservim/nerdtree'

" =============================================================================
" AJUSTES DE COMPORTAMENTO DO VIM (COMPATIBILIDADE NEOVIM)
" =============================================================================

nnoremap Y y$
vnoremap > >gv
vnoremap < <gv
inoremap <C-U> <C-G>u<C-U>
inoremap <C-W> <C-G>u<C-W>
nnoremap Q @@
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz

" =============================================================================
" MAPEAMENTOS DE TECLAS
" =============================================================================


" --- 1. Gerenciamento de Janelas (Splits) e Buffers (Abas) ---

" Navegação entre splits
nmap <C-h> <C-w>h
nmap <C-j> <C-w>j
nmap <C-k> <C-w>k
nmap <C-l> <C-w>l

" Criação e fechamento de splits
nmap <leader>- <c-w>s
nmap <leader><bar> <c-w>v
nmap <leader>wd <Action>(CloseContent)
nmap <leader>wm <Action>(ToggleDistractionFreeMode) " Maximizar/minimizar split

" Redimensionamento de splits
nmap <C-Up> <Action>(IncrementWindowHeight)
nmap <C-Down> <Action>(DecrementWindowHeight)
nmap <C-Left> <Action>(DecrementWindowWidth)
nmap <C-Right> <Action>(IncrementWindowWidth)

" Navegação entre buffers/abas
nmap <S-h> <Action>(PreviousTab)
nmap <S-l> <Action>(NextTab)
nmap [b <Action>(PreviousTab)
nmap ]b <Action>(NextTab)

" Gerenciamento de buffers/abas
nnoremap <leader>bb <C-^> " Alternar para o último buffer ativo
nnoremap <leader>` <C-^>
nmap <leader>bd <Action>(CloseContent)
nmap <leader>bD <Action>(CloseContent)
nmap <leader>bo <Action>(CloseAllEditorsButActive)

" --- 2. Edição e Código ---

" Mover linhas para cima/baixo
nmap <A-j> <Action>(MoveLineDown)
vmap <A-j> <Action>(MoveLineDown)
imap <A-j> <Esc><Action>(MoveLineDown)i
nmap <A-k> <Action>(MoveLineUp)
vmap <A-k> <Action>(MoveLineUp)
imap <A-k> <Esc><Action>(MoveLineUp)i

" vim-commentary: Adicionar comentário acima/abaixo
nmap gco o<c-o>gcc
nmap gcO O<c-o>gcc

" vim-surround: Mapeamentos personalizados (estilo mini.surround)
let g:surround_no_mappings = 1
nmap gsa <Plug>YSurround
xmap gsa <Plug>VSurround
nmap gsr <Plug>CSurround
nmap gsd <Plug>DSurround

" Formatar código
nmap <leader>cf <Action>(Format)
vmap <leader>cf <Action>(Format)

" --- 3. Code Intelligence (LSP) e Refatoração ---

" Navegação de código
nmap gd <Action>(GotoDeclaration)
nmap gD <Action>(GotoImplementation)
nmap gr <Action>(GotoDeclaration)
nmap gI <Action>(GotoImplementation)
nmap gy <Action>(GotoTypeDeclaration)

" Informações e Ações
nmap gK <Action>(ParameterInfo)
imap <C-k> <C-o><Action>(ParameterInfo)
nmap <leader>ca <Action>(ShowIntentionActions)
vmap <leader>ca <Action>(ShowIntentionActions)
nmap <leader>r <Action>(RefactoringMenu)
vmap <leader>r <Action>(RefactoringMenu)
nmap <leader>cr <Action>(RenameElement)
nmap <leader>cR <Action>(RenameFile)

" Navegação de referências
nmap ]] <Action>(GotoNextElementUnderCaretUsage)
nmap [[ <Action>(GotoPrevElementUnderCaretUsage)
nmap <a-n> <Action>(GotoNextElementUnderCaretUsage)
nmap <a-p> <Action>(GotoPrevElementUnderCaretUsage)

" --- 4. Busca e Navegação (Emulação Telescope) ---

" Salto rápido com EasyMotion
let g:EasyMotion_do_mapping = 0
set easymotion
nmap s <Plug>(easymotion-s)
xmap s <Plug>(easymotion-s)
omap s <Plug>(easymotion-s)

" Busca de arquivos e texto
nmap <leader><space> <Action>(GotoFile)
nmap <leader>ff <Action>(GotoFile)
nmap <leader>fF <Action>(GotoFile)
nmap <leader>fg <Action>(GotoFile)
nmap <leader>/ <Action>(FindInPath)
nmap <leader>sg <Action>(FindInPath)
nmap <leader>sG <Action>(FindInPath)
nmap <leader>sw mzviw<Action>(FindInPath)<esc>`z
nmap <leader>sW mzviw<Action>(FindInPath)<esc>`z
vmap <leader>sw <Action>(FindInPath)
vmap <leader>sW <Action>(FindInPath)

" Navegação por histórico e listas
nmap <leader>, <Action>(Switcher)
nmap <leader>fb <Action>(Switcher)
nmap <leader>sb <Action>(Switcher)
nmap <leader>fr <Action>(RecentFiles)
nmap <leader>fR <Action>(RecentFiles)
nmap <leader>sj <Action>(RecentLocations)

" Busca de símbolos e metadados
nmap <leader>ss <Action>(GotoSymbol)
nmap <leader>sS <Action>(GotoSymbol)
nmap <leader>sk :map<cr>
nmap <leader>sC <Action>(GotoAction)

" Listas do Vim
nmap <leader>s" :registers<cr>
nmap <leader>sm :marks<cr>
nmap <leader>: :history<cr>
nmap <leader>sc :history<cr>

" --- 5. Diagnósticos (Erros, Warnings) ---

" Abrir janela de problemas
nmap <leader>cd <Action>(ActivateProblemsViewToolWindow)
nmap <leader>xl <Action>(ActivateProblemsViewToolWindow)
nmap <leader>xq <Action>(ActivateProblemsViewToolWindow)
nmap <leader>sd <Action>(ActivateProblemsViewToolWindow)
nmap <leader>sD <Action>(ActivateProblemsViewToolWindow)
nmap <leader>sl <Action>(ActivateProblemsViewToolWindow)
nmap <leader>sq <Action>(ActivateProblemsViewToolWindow)

" Navegar entre diagnósticos
nmap ]d <Action>(GotoNextError)
nmap [d <Action>(GotoPreviousError)
nmap ]e <Action>(GotoNextError)
nmap [e <Action>(GotoPreviousError)
nmap ]w <Action>(GotoNextError)
nmap [w <Action>(GotoPreviousError)
nmap [q <Action>(GotoPreviousError)
nmap ]q <Action>(GotoNextError)

" --- 6. Integração com Ferramentas (Git, Terminal, Arquivos) ---

" Git
nmap <leader>gg <Action>(ActivateCommitToolWindow)
nmap <leader>gl <Action>(Vcs.Show.Log)
nmap <leader>gL <Action>(Vcs.Show.Log)
nmap <leader>gc <Action>(Vcs.Show.Log)
nmap <leader>gs <Action>(Vcs.Show.Log)
nmap <leader>ge <Action>(ActivateVersionControlToolWindow)

" Explorador de Arquivos
nmap <leader>e :NERDTreeToggle<CR>
nmap <leader>E :NERDTreeCWD<CR>
nmap <leader>fe :NERDTreeToggle<CR>
nmap <leader>fE :NERDTreeCWD<CR>
nmap <leader>be <Action>(ActivateProjectToolWindow)

" --- 7. Debugging (Emulação DAP & Neotest) ---

" Controle de Breakpoints
nmap <leader>db <Action>(ToggleLineBreakpoint)
nmap <leader>dB <Action>(AddConditionalBreakpoint)

" Controle de Execução
nmap <leader>dc <Action>(Resume)
nmap <leader>di <Action>(StepInto)
nmap <leader>do <Action>(StepOut)
nmap <leader>dO <Action>(StepOver)
nmap <leader>dp <Action>(Pause)
nmap <leader>dt <Action>(Stop)
nmap <leader>dC <Action>(ForceRunToCursor)
nmap <leader>de <Action>(EvaluateExpression)
vmap <leader>de <Action>(EvaluateExpression)
nmap <leader>du <Action>(ActivateDebugToolWindow)

" Execução e Testes
nmap <leader>dl <Action>(Debug)
nmap <leader>da <Action>(ChooseRunConfiguration)
nmap <leader>tl <Action>(Run)
nmap <leader>tr <Action>(RunClass)
nmap <leader>tt <Action>(RunClass)
nmap <leader>td <Action>(ChooseDebugConfiguration)

" Interação com a UI de Testes/Run
nmap <leader>to <Action>(ActivateRunToolWindow)
nmap <leader>tO <Action>(ActivateRunToolWindow)
nmap <leader>tS <Action>(Stop)

" --- 8. Miscelânea ---

" Comentários TODO
nmap <leader>st <Action>(ActivateTODOToolWindow)
nmap <leader>sT <Action>(ActivateTODOToolWindow)
nmap <leader>xt <Action>(ActivateTODOToolWindow)
nmap <leader>xT <Action>(ActivateTODOToolWindow)
nmap [t ?\(TODO\|FIX\|HACK\|WARN\|PERF\|NOTE\|TEST\):<cr>
nmap ]t /\(TODO\|FIX\|HACK\|WARN\|PERF\|NOTE\|TEST\):<cr>

" UI e Aparência
nmap <leader>uw :setlocal wrap!<CR>
nmap <leader>us :setlocal spell!<CR>
nmap <leader>uC <Action>(QuickChangeScheme)
nmap <leader>ub <Action>(QuickChangeScheme)
nmap <leader>uh <Action>(ToggleInlayHintsGloballyAction)

" Limpar highlight da busca e notificações
nmap <esc> :nohlsearch<CR>
nmap <leader>ur :nohlsearch<CR>
nmap <leader>un <Action>(ClearAllNotifications)
nmap <leader>snd <Action>(ClearAllNotifications)

" Outros
nmap <leader>l <Action>(WelcomeScreen.Plugins)
nmap <leader>fn <Action>(NewElementSamePlace)
nmap <leader>K :help<space><C-r><C-w><CR>
nmap <leader>qq <Action>(Exit)
nmap <leader>sM <Action>(ShowDocumentation)
